*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.conteiner{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
.title{
    font-family: 'Montserrat', sans-serif;
    color: #333333;
    font-size: 0.875rem;
    font-weight: 400;
    text-transform: uppercase;
}
.header-top{
    position: relative;
    padding: 1rem 0;
}
.disp-flex{
    display: flex;
}
.menu-hover{
    position: relative;
}
.db{
    display: block;   /* don`t touch */
}
.header-avoid{
    display: none;
    width: 100%;
}
.header-avoid__item{
    text-align: center;
    text-transform: capitalize;
    padding: 14px 9px;
    position: relative;
}
.header-avoid__item::before{
    top: 22px;
    left: 0;
    position: absolute;
    width: 34px;
    height: 2px;
    background: #1ca0de;
    content: '';
    transition: all 0.3s;
    pointer-events: none;
    transform: rotate(90deg);
}
.header-avoid__item::after{
    bottom: 22px;
    right: 0;
    position: absolute;
    width: 34px;
    height: 2px;
    background: #1ca0de;
    content: '';
    transition: all 0.3s;
    pointer-events: none;
    transform: rotate(90deg);
}

.header-avoid__txt{
    font-size: 1rem;
    color: #343a4e;
    font-family: 'Roboto', sans-serif;
}
.header-top__menu{
    color: #343a4e;
    font-size: 30px;
}
#menu{
    width: 35px;
    height: 35px;
    background: url(img/nav.png)no-repeat 0px 0px;
    cursor: pointer;
    position: absolute;
    top: -51px;
    right: 0px;
}
.logo-bath_ikon{
    color: #343a4e;
    font-size: 50px;
}
.tagline{
    margin-left: 60px;
    color: #337ab7;
    font-size: 0.9em;
    font-family: 'Roboto', sans-serif;
}
.logo-txt1{
    color: #343a4e;
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 28px;
    line-height: 52px;
}
.header-experimental-txt{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 55px;
}
.header-experimental-icon-li{
    margin-right: 5px;
} 
.header-experimental_icon{
    color: #fff;
    font-size: 1.5rem;
    margin-right: 8px;
    padding: 16px 13px;
    background-color: rgba(0, 0, 2, 0.12);
}
.clock-size{
    font-size: 1.3rem;
}
.txt{
    font-family: 'Roboto', sans-serif;
    color:  #999999;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 24px;
}
.main__title{
    text-align: center;
    font-size: 1.375rem;
    font-weight: 700;
    transform: scaleX(1.0013);
    margin-bottom: 2.5rem;
    color: #555;
}
.slider{
    width: 100%;
    height: 334px;
    object-fit: cover;
    background: url(img/pexels-photobaggerdark.jpg) no-repeat center;

}
.bx-wrapper {
    width: 50%;
    margin: 0 auto;
    position: absolute;
    background: rgba(52, 58, 78, 0.4);
    transform: translateX(50%) translateY(30%);
    border: 4px solid #fff;
}
.bx-wrapper .bx-prev{
    left: -44px;
}
.bx-wrapper .bx-next{
    right: -44px;
}
.slider-box{
    padding: 2rem 0;
    text-align: center;
}
.slider-box >h3{
    font-size: 1.7em;
    font-weight: 700;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}
.slider-box >p{
    font-size: 23px;
    padding: 2px 1px;
    margin: 0.3em 0;
    color: #1CA0DE;
    font-weight: 700;
}
.slider-box > span {
    font-weight: 700;
    color: #fff;
    font-size: 1.2em;
}
.popular-goods{
    margin: auto;
    margin-bottom: 1rem;
    width: 80%;
    transition: .2s linear;
}
.popular-goods:hover{
    box-shadow: 0 0 0 2px white, 0 0 0 4px #00A8E1;
    border-radius: 10px;
}
.brend-txt{
    font-family: 'Russo One', sans-serif;
    font-size: 1rem;
    color: #555;
}
.popular-goods-cost-txt{
    font-family: 'Russo One', sans-serif;
    font-size: 1rem;
    text-align: center;
    color: #555;
}
.popular-goods-cost-txt__red{
    color: #ff4e50;
}
.article__icon{
    color: #00A8E1;
    font-size: 30px;
    margin-bottom: 1rem;
}
.footer__li{
    flex-basis: 50%;
}
.a--hover:hover{
    color: #EF7622;
}
.photo{
    display: block;
    max-width: 100%;
    height: auto;
}
.popular-goods__photo{
    width: 250px;
    height: 300px;
    margin: auto;
}
.figure{
    text-align: center;
}
.google-maps {
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 20% !important;
}


.header-experimental{
    background-color: #1ca0de;
    padding-left: 15px;
}
.header-experimental>div{
    margin-bottom: 5px;
}
.header-experimental>div:last-child{
    margin-bottom: 0px;
}
.bottom-callback{
    background: url(img/bottom.jpg) no-repeat 0px 0px;
    min-height: 400px;
    background-size: cover;
}
.bottom-callback-layout>h3 {
    font-size: 2em;
    padding-top: 8rem;
    font-weight: bold;
    text-align: center;
    line-height: 2.7rem;
    color: #fff;
    margin-bottom: 16px;
    font-family: 'Roboto', sans-serif;
}
.bottom-callback-layout-botton{
    background: #1ca0de;
    padding: 0.8rem 1.5rem;
    color: #fff;
    font-size: 1.5rem;
    border: 0ch;
    display: block;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}